/* contenedores padres */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  width: 100%;
  height: 100%;
  background-color: #0c192c;
}
.contenedor {
  width: 100%;
  height: 100%;
}
/* <-------------------FIn-----------------> */
/* Contenedores de cada evento */
.wheel {
  margin: 1.3rem auto;
  background-color: aliceblue;
  width: 90%;
  height: 45rem;
}
.titulo {
  width: 100%;
  padding: 0.4rem 1.2rem;
  font-weight: 400;
  font-size: 2rem;
}
.wheelContenedor {
  width: 100%;
  height: 100%;
  padding: 2rem 1.2rem;
  display: flex;
  justify-content: space-around;
}
#contenedor2 {
  /* Estilos del segundo contenedor */
  height: 100px;
  width: 30%;
  transition: height 0.3s ease-in-out;
  position: relative;
  background: linear-gradient(to bottom, #0000ff, #ff0000);
  color: white;
}

#contenedor1 {
  /* Estilos del primer contenedor */
  height: 500px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid black;
  font-size: 40px;
}
#contenedor1:hover {
  background-color: black;
  color: white;

  transition: 0.4s all ease-in-out;
}
#texto {
  /* Estilos del texto que aparece en el contenedor2 */
  font-size: 2rem;
  position: absolute;
  top: 50%;
  width: 40%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.mouseover,
.click {
  margin: 2rem auto;
  background-color: aliceblue;
  width: 90%;
  height: 35rem;
}
#miDiv {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clickContenedor {
  display: flex;
  width: 100%;
  height: 90%;
}
.contenedorEscala {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botons {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
button {
  width: 50%;
  padding: 1.3rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.mouseoverContenedor {
  width: 100%;
  height: 90%;

  display: flex;
  justify-content: space-around;
  padding: 2rem 1.2rem;
}
.contenedor3 img {
  width: 100%;
  height: 100%;
  display: none;
}
.contenedor3,
.contenedor4 {
  background-color: white;
  color: black;
  border: black 0.2rem solid;
  width: 30%;
  height: 95%;
  display: flex;
  align-items: center;

  justify-content: center;
}
.contenedor3:hover img {
  display: block;
}
.contenedor3:hover h1 {
  display: none;
}
/* FIn de los contenedores de cada evento */

@media (max-width: 1550px) {
  .wheel {
    margin: 0;
    width: 100%;
  }
  .mouseover,
  .click {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 1310px) {
  .wheelContenedor {
    justify-content: start;
  }
  .wheel {
    height: auto;
  }
  #contenedor1,
  #contenedor2 {
    width: 50%;
  }
}

@media (max-width: 810px) {
  .wheelContenedor {
    flex-direction: column;
    align-items: center;
  }
  #contenedor1,
  #contenedor2 {
    width: 80%;
  }
  .mouseoverContenedor {
    flex-direction: column;
    align-items: center;
  }
  .contenedor4,
  .contenedor3 {
    width: 60%;
  }
  .mouseover {
    height: auto;
  }
  .click {
    height: 42rem;
    margin: 0;
  }
  .clickContenedor {
    flex-direction: column;
  }
  .contenedorEscala {
    height: 70%;
    width: 100%;
    margin-top: 4rem;
  }
  .botons {
    width: 100%;
    display: flex;
    flex-direction: row;

}


}
@media (max-width: 500px) {

  #contenedor1,
  #contenedor2 {
    width: 90%;
  }
  .contenedor4,
  .contenedor3 {
    width: 80%;
  }
  body {
    background-color: white;
  }

}